.showcase {
  background: var(--bg-color);
  padding: 10rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.showcase-content h2 {
  font-size: clamp(3rem, 6vw, 5rem);
  color: var(--text-primary);
  margin-bottom: 2rem;
}

.showcase-content p {
  margin: 0 auto;
  font-size: 1.5rem;
}
